* {
    box-sizing: border-box;
    font-size: calc(10px + 0.4vw);
}

html, body {
    background: #363636;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

a {
    color: #5070ff;
}

#container {
    height: 100%;
    padding-top: 8em;
    display: grid;
    justify-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 14em;
}

#navigation {
    margin-bottom: 0.5em;
}

#navigation, #locationForm, #selectCity {
    margin-top: 0.5em;
}

#headerText {
    font-size: larger;
    text-align: left;
    margin-right: 8em;
}

#top {
    background: #252525;
    width: 30em;
    position: fixed;
    top: 0;
    height: 8.1em;
}

#content {
    background: #252525;
    height: 100%;
    width: 30em;
    overflow-wrap: break-word;
}

#end {
    background: #252525;
    height: 100%;
    width: 30em;
    margin: 0 auto;
    display: flex;
}

#timeWhenRetrieved {
    color: #707070;
    width: 30em;
    padding-top: 1em;
    align-self: flex-end;
    margin: 0 auto;
    font-size: smaller;
}

#tableHeading {
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    font-size: larger;
    font-weight: bold;
}

table {
    margin: 0 auto;
    table-layout: fixed;
    border: 1px solid #404040;
    width: 29em;
}

table, th {
    border: 2px solid #404040;
}

th {
    background: #252525;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

th, td {
    padding: 0.1em 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.current tbody > tr > :nth-child(1) {
    text-align: right;
    width: 28%;
}

.current tbody > tr > :nth-child(2) {
    text-align: left;
    width: 72%;
}

.forecast tbody > tr > :nth-child(1) {
    text-align: right;
}

.forecast tbody > tr > :nth-child(2) {
    text-align: center;
}

.forecast tbody > tr > :nth-child(3) {
    text-align: left;
}

.forecast thead > tr > :nth-child(1) {
    width: 33%;
}

.forecast thead > tr > :nth-child(2) {
    width: 27%;
}

.forecast thead > tr > :nth-child(3) {
    width: 40%;
}

img.weatherIcon {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

input.submitButton {
    width: 5em;
    font-size: larger;
    margin-top: 0.3em;
}